<meta charset="utf-8">
    
<div id="actions">
  <a href="#/saisie/add/marque" class="fa fa-plus"></a>
</div>

<ul id="marques">
  <li>
    <div class="thumbnail logo fa fa-star mesautosamoi" ng-click="goToMesAutosAMoi()"></div>
    <div class="info">
      <span>Mes autos à moi</span>
    </div>
  </li>
  <li ng-repeat="marque in marques | orderBy: 'nomMarque'" ng-click="goToMarque(marque)">
		<div ng-style="backgroundImage(marque)" class="thumbnail logo"></div>
		<div class="info">
		  <img ng-src="img/pays/{{marque.pays}}.png" class="pays"/>
		  <span>{{marque.nomMarque}}</span>
		</div>
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
