<meta charset="utf-8">

<div id="version">

  <div id="titlebar">
    <div>{{version.marque.nomMarque}}</div>
    <div>{{version.modele.nomModele}}</div>
    <div>{{version.version.nom}}</div>
    <a href="#/saisie/edit/version?id={{versionId}}" class="fa fa-edit"></a>
    <a href="#/saisie/add/docVersion?id={{versionId}}" class="fa fa-plus"></a>
    <a href="#/marque/{{version.marque.idMarque}}#modele-{{version.modele.idModele}}" class="fa fa-times exit"></a>
  </div>
  
  <ul id="carousel">
    <li ng-repeat="doc in version.docs" ng-style="backgroundImage($index)" class="thumbnail" ng-click="maximize($index)"></li>
  </ul>
 
  <div id="photo" ng-style="backgroundImage(selected)" class="thumbnail" ng-click="openInNewWindow()"></div>
  
  <div id="legend">
    <div>{{getLegend()}}</div>
    <a href="#/saisie/edit/docVersion?id={{version.docs[selected].idDocumentVersion}}" class="fa fa-edit"></a>
  </div>
 
</div>
