<!doctype html>
<html lang="en" ng-app="auto">

<head>
  <meta charset="utf-8">
  <title ng:bind-template="Mes Autos{{pageTitle}}"></title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/font-awesome-4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/framework.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/papounet.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  
  <script src="lib/timeline/timeline.js"></script>
  <link rel="stylesheet" href="lib/timeline/timeline.css">
</head>

<body ng-controller="SearchCtrl" ng-click="hideResults()">

  <div id="titre">
	  <a href="#"><span class="maj">M</span>es <span class="maj">A</span>utos</a>
	</div>
	
  <div ng-view id="content"></div>
  
  <div id="search">
    <span class="input-icon fa fa-search"></span>
    <input type="text" ng-model="searchText" ng-click="showResults($event)" ng-change="showResults($event)"></input>
    <ul class="results" ng-show="show">
      <li ng-repeat="item in list.marques | searchMarque: searchText | orderBy: 'nomMarque'" ng-click="goToMarque(item)">{{item.nomMarque}}</li>
      <li ng-repeat="item in list.modeles | searchModele: searchText | orderBy: 'nomModele'" ng-click="goToModele(item)">{{item.nomModele}}<span class="marque-modele">{{item.nomMarque}}</span></li>
    </ul>
  </div>

</body>
</html>
